
.depicter-revert .depicter-1-element-24{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-23{
	opacity:0.61;
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-22{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-21{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-20{
	opacity:0.61;
	background-color:#EE0606;
}
.depicter-revert .depicter-1-element-19{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-18{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-17{
	opacity:0.61;
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-16{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-15{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-14{
	opacity:0.61;
	background-color:#EED306;
}
.depicter-revert .depicter-1-element-13{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-12{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:700;
	background-color:#2BB747;
	border-radius:6px;
}
.depicter-revert .depicter-1-element-12:not(.depicter-hover-off){
	transition:all cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.5s;
}
.depicter-revert .depicter-1-element-12:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#FFFEFE;
}
.depicter-revert .depicter-1-element-11{
	font-size:25px;
	color:#F2ECEC;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-10{
	font-size:37px;
	color:#F3F1F1;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.37);
}
.depicter-revert .depicter-1-element-29{
	font-size:25px;
	color:#F2ECEC;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-30{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:700;
	background-color:#2BB747;
	border-radius:6px;
}
.depicter-revert .depicter-1-element-30:not(.depicter-hover-off){
	transition:all cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.5s;
}
.depicter-revert .depicter-1-element-30:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#FFFEFE;
}
.depicter-revert .depicter-1-element-28{
	font-size:37px;
	color:#F3F1F1;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-42{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-41{
	opacity:0.61;
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-40{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-39{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-38{
	opacity:0.61;
	background-color:#EE0606;
}
.depicter-revert .depicter-1-element-37{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-36{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-35{
	opacity:0.61;
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-34{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-33{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-32{
	opacity:0.61;
	background-color:#EED306;
}
.depicter-revert .depicter-1-element-31{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-26 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-26 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.42);
}
.depicter-revert .depicter-1-element-46{
	font-size:25px;
	color:#F2ECEC;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-47{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:700;
	background-color:#2BB747;
	border-radius:6px;
}
.depicter-revert .depicter-1-element-47:not(.depicter-hover-off){
	transition:all cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.5s;
}
.depicter-revert .depicter-1-element-47:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#FFFEFE;
}
.depicter-revert .depicter-1-element-45{
	font-size:37px;
	color:#F3F1F1;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-59{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-58{
	opacity:0.61;
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-57{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-56{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-55{
	opacity:0.61;
	background-color:#EE0606;
}
.depicter-revert .depicter-1-element-54{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-53{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-52{
	opacity:0.61;
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-51{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-50{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-49{
	opacity:0.61;
	background-color:#EED306;
}
.depicter-revert .depicter-1-element-48{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-44 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-44 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.45);
}
.depicter-revert .depicter-1-element-83{
	font-size:25px;
	color:#F2ECEC;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-84{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:700;
	background-color:#2BB747;
	border-radius:6px;
}
.depicter-revert .depicter-1-element-84:not(.depicter-hover-off){
	transition:all cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.5s;
}
.depicter-revert .depicter-1-element-84:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#FFFEFE;
}
.depicter-revert .depicter-1-element-82{
	font-size:37px;
	color:#F3F1F1;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-81 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-81 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.49);
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-24{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-23{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-22{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-21{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-20{
	background-color:#EE0606;
}
.depicter-revert .depicter-1-element-19{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-18{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-17{
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-16{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-15{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-14{
	background-color:#EED306;
}
.depicter-revert .depicter-1-element-13{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
}
.depicter-revert .depicter-1-element-12{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:700;
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-11{
	font-size:25px;
	color:#F2ECEC;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
}
.depicter-revert .depicter-1-element-10{
	font-size:37px;
	color:#F3F1F1;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.39);
}
.depicter-revert .depicter-1-element-29{
	font-size:25px;
	color:#F2ECEC;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-30{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:700;
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-28{
	font-size:37px;
	color:#F3F1F1;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-35{
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-33{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-31{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-26 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-26 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.37);
}
.depicter-revert .depicter-1-element-46{
	font-size:25px;
	color:#F2ECEC;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
}
.depicter-revert .depicter-1-element-47{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:700;
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-45{
	font-size:37px;
	color:#F3F1F1;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-59{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-56{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-53{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-50{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-49{
	background-color:#EED306;
}
.depicter-revert .depicter-1-element-48{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-44 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-44 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.42);
}
.depicter-revert .depicter-1-element-83{
	font-size:25px;
	color:#F2ECEC;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
}
.depicter-revert .depicter-1-element-84{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:700;
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-82{
	font-size:37px;
	color:#F3F1F1;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-81 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-81 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.41);
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-22{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-19{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-16{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-15{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-14{
	background-color:#EED306;
}
.depicter-revert .depicter-1-element-13{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-12{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:700;
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-11{
	font-size:25px;
	text-align:center;
	color:#F2ECEC;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-10{
	font-size:25px;
	text-align:center;
	color:#F3F1F1;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.5);
}
.depicter-revert .depicter-1-element-29{
	font-size:25px;
	text-align:center;
	color:#F2ECEC;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-30{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:700;
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-28{
	font-size:25px;
	text-align:center;
	color:#F3F1F1;
	font-family:"Open Sans";
	font-weight:400;
	line-height:140%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-42{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-40{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-39{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-37{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-36{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-34{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-33{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-32{
	background-color:#EED306;
}
.depicter-revert .depicter-1-element-31{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-26 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-26 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.5);
}
.depicter-revert .depicter-1-element-46{
	font-size:25px;
	text-align:center;
	color:#F2ECEC;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-47{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:700;
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-45{
	font-size:30px;
	text-align:center;
	color:#F3F1F1;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-59{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-58{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-57{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-56{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-54{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-53{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-51{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-50{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-49{
	background-color:#EED306;
}
.depicter-revert .depicter-1-element-48{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Noto Serif";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-44 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-44 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.52);
}
.depicter-revert .depicter-1-element-83{
	font-size:20px;
	text-align:center;
	color:#F2ECEC;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-84{
	font-size:20px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:700;
	background-color:#2BB747;
}
.depicter-revert .depicter-1-element-82{
	font-size:25px;
	text-align:center;
	color:#F3F1F1;
	font-family:"Open Sans";
	font-weight:400;
	line-height:140%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-81 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-81 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.55);
}

}
